body{
  margin: 2em; 
}

.card {
  width: 18rem;
  margin: 1em;
}

.wrapper-img{
  width: inherit;
  height: 15em;
  display:flex;

}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
}
